* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f5f8ff;
}
/* common-style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.display-flex {
  display: flex;
}
.text-color-common {
  color: #e95a08;
}
.bg-color-common {
  background: #e95a08;
}
.common-p {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
}
/* header style */
header {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
}
nav {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.nav-ul {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav-li {
  list-style: none;
}
.nav-li-a {
  text-decoration: none;
  margin-right: 20px;
  color: rgba(37, 36, 50, 1);
  line-height: 24px;
}
.font-color {
  font-weight: bold;
}
.font-color-1 {
  color: rgba(137, 135, 161, 1);
}
.font-color-2 {
  color: rgba(0, 0, 0, 1);
}
.header-banner {
  margin: 120px 0;
}
.banner {
  align-content: end;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
}

/* main section style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* -- our plant section style-- */
.our-plant {
  margin-bottom: 200px;
}
.our-plant-content {
  text-align: center;
  margin-bottom: 50px;
}
.our-plant-content-title {
  font-size: 3.1rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 15px;
}
.our-plant-content-p {
  max-width: 888px;
  margin: 0 auto;
}
.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 30px 20px;
}

.card-conten-img {
  width: 100%;
}
.card-conten-1 {
  font-size: 1.4rem;
  color: #111111;
  font-weight: 400;
  line-height: 150%;
}
.card-conten-2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #111111;
  line-height: 150%;
}
.card-btn {
  padding: 15px 85px;
  color: #ffffff;
  border: none;
  width: 100%;
}
/* Flower & Plants Lover style */
.flower-plants-lover {
  gap: 20px;
  height: 597px;
  margin-bottom: 138px;
}
.flower-plants-img {
  width: calc(50% - 20px);
  position: relative;
}
.trusted-badge {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -126px;
  left: 362px;
}
.flower-plants-conten {
  width: calc(50% - 20px);
  padding: 38px 0 38px 60px;
}
.flower-plants-conten-title {
  font-size: 3.1rem;
  font-weight: bold;
  color: #000000;
}
.flower-plants-conten-li {
  padding: 22px 0 0px 14px;
  margin-left: 30px;
}
/* Latest  Deals style */
.latest-deals-card {
  display: grid;
  gap: 25px;
  height: 423px;
  text-align: center;
  align-items: center;
  margin: 120px auto;
  color: #ffffff;

  grid-template-areas:
    "latest-deals-card-1 latest-deals-card-3 latest-deals-card-3"
    "latest-deals-card-2 latest-deals-card-3 latest-deals-card-3";
}
.latest-deals-card-1,
.latest-deals-card-2 {
  grid-area: latest-deals-card-1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/deal-bloom.png");
  height: 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 78px;
}

.latest-deals-card-2 {
  grid-area: latest-deals-card-2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/deal-ana.png");
  background-size: cover;
}

.latest-deals-card-3 {
  grid-area: latest-deals-card-3;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("../images/deal-zabo.png");
  border-radius: 20px;
  height: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
  padding-top: 180px;
}
.latest-card-h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.latest-card-h5-a {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 10px;
}
.latest-card-h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.latest-card-h3-a {
  font-size: 1.7rem;
  font-weight: 600;
  color: #ffffff;
}
.footer-bg {
  height: 533px;
  background: url("../images/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}
.footer-bg-title {
  font-size: 3.1rem;
  font-weight: bold;
  color: #ffffff;
}
.footer-input {
  padding: 18px 453px 18px 24px;
  margin-top: 20px;
}
.footer-btn {
  padding: 19px 53px;
  margin-left: -5px;
  color: white;
  border: none;
}
.footer-footer {
  justify-content: space-between;
  margin: 50px 200px;
  max-width: 1120px;
  height: 248px;
}
.footer-1 {
  max-width: 369px;
}
.footer-1 img {
  margin-bottom: 16px;
}
.footer-list-1 {
}
.footer-list-1 ul {
}
.footer-list-1 ul li {
  list-style: none;
  margin-bottom: 24px;
}
.footer-list-1 li a {
  text-decoration: none;
  margin-right: 20px;
  color: #6b7280;
  line-height: 24px;
}
.footer-img-2 {
  margin-bottom: 7px;
}
.footer-icon img {
  padding: 0 10px;
}

@media screen and (max-width: 576px) {
  body {
    margin: 0 auto;
  }
  nav {
    margin: 0 16px;
  }
  .display {
    visibility: hidden;
  }
  .font-size {
    font-size: 2.5rem;
  }
  .header-banner {
    flex-wrap: wrap-reverse;
    margin: 100px 0;
  }
  .banner {
    align-content: center;
    margin: 0 16px;
  }
  .banner-title {
    margin-top: 28px;
  }
  .banner-img {
    width: 100%;
  }
  .our-plant {
    margin: 10px 16px 120px 16px;
  }
  .our-plant-content-con {
    margin: 0 16px;
  }
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
  .flower-plants-lover {
    flex-wrap: wrap;
    height: auto;
  }
  .flower-plants-img {
    width: 100%;
    margin: 0 17px;
  }
  .flower-plants-conten {
    width: 100%;
    padding: 0px 10px 16px 20px;
  }
  .trusted-badge {
    visibility: hidden;
  }

  .latest-deals-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    margin: 60px 20px;
  }

  .latest-deals-card-1,
  .latest-deals-card-2,
  .latest-deals-card-3 {
    width: 100%;
    height: 300px;
    padding-top: 80px;
  }
  .latest-card-h5,
  .latest-card-h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .latest-card-h3-a,
  .latest-card-h5-a {
    font-size: 1.7rem;
  }
  .footer-bg-title {
    font-size: 2.1rem;
  }
  .footer-input {
    padding: 18px 109px 18px 24px;
    margin-top: 20px;
  }
  .footer-footer {
    flex-direction: column;
    margin: 50px 20px;
  }
  .footer-icon {
    padding-bottom: 20px;
  }
}
